<div class="row mb-2">
    <div class="col-6">
        <div class="row">
            <div class="col-4 text-end">
                <label><strong>Seleccione Archivo:</strong> </label>
            </div>
            <div class="col-8">
                <dx-file-uploader id="anexos" selectButtonText="Examinar" labelText="" accept=".pdf"
                    uploadMode="useFrom" (onValueChanged)="onSelected($event)" name="cargar" [multiple]="true"
                    [allowedFileExtensions]="['.pdf']" [maxFileSize]="4000000" [(value)]="items"  invalidMaxFileSizeMessage="Tamaño supera los 4MB">
                </dx-file-uploader>
                <!-- <dx-button stylingMode="contained" text="Subir" type="default" [disabled]="false"
                    (onClick)="subirArchivo()" class="mx-2">
                </dx-button> -->
            </div>
        </div>
    </div>
</div>
<!-- <pre>{{items | json}}</pre> -->
